<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/main.css' />
  </head>
  <body>
    <header>
        <h1>Super boilerplate</h1>
    </header>
    {{{body}}}
    <script src="/client/app.bundle.js"></script>
  </body>
</html>
