<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/main.css' />
  </head>
  <body>
    <header>
        <h1>Super booilerplate</h1>
    </header>
    {{{body}}}
  </body>
</html>
